:root {
    --debug-outline: 2px;
    --font-size: 16px;
    --foreground-colour: rgb(255, 255, 255);
    --background-colour: rgb(21, 21, 21);
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-weight: 600;
    --scrollbar-colour: rgb(84, 93, 103) transparent;
    --accent-colour: magenta;
    --border-colour: rgb(51, 51, 51);
    --container-colour: rgb(37, 37, 37);
    --note-colour: rgb(72, 72, 72);
    --curviness: 8px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--background-colour);
    color: var(--foreground-colour);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    scrollbar-color: var(--scrollbar-colour);
}

#page {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#central-container {
    height: 80%;
    width: 80%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--curviness);
    background-color: var(--container-colour);
    box-shadow: inset 0 0 0 2px var(--border-colour);
}

#central-header {
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 24px 24px;
    border-bottom: 2px solid var(--border-colour);
}

#central-notches {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 24px 24px;
    border-bottom: 2px solid var(--border-colour);
}

#central-content {
    height: 75%;
    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
}

#scrollable-content {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 24px 24px;
    box-sizing: border-box;
}

.central-row {
    box-sizing: border-box;
}

.note {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--note-colour);
    border-radius: var(--curviness);
    border-left: 4px solid var(--accent-colour);
    margin-bottom: 16px;
}

.note h3 {
    margin: 12px 0px;
    font-size: 20px;
}

.note p {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* max-height: 104px; */
    overflow: hidden;
}

.note .note-actions {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
}

#add-note-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 0px;
    margin: 8px auto;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--accent-colour);
    color: var(--foreground-colour);
    border-radius: var(--curviness);
    border: none;
    user-select: none;
    cursor: pointer;
}

#user-icon {
    cursor: pointer;
}